In [5]:
import pandas as pd
import sqlite3
import math
import datetime 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from IPython.core.display import display, HTML
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))

In [6]:
conn = sqlite3.connect('database.db')

In [7]:
c = conn.cursor()

In [8]:
df = pd.read_csv("dataset_review_tokped_labelled.csv")
df

                                                 Review  Rating Sentiment
0                                         enak kuacinya       5  positive
1     pengiriman cepat packing bagus sesuai pesanan ...       5  positive
2     pengemasan luar biasa baik untuk rasa menurut ...       4  negative
3                                       terimakasih min       5   neutral
4                    udah order untuk kesekian kali jos       5   neutral
...                                                 ...     ...       ...
4055  seller sangat responsif rasa belum dicoba kare...       5   neutral
4056                          imut2 banget packing aman       5  positive
4057                        good product trusted seller       5  positive
4058                                 sudah beli yg ke 3       5   neutral
4059                                    byk campurannya       4   neutral

[4060 rows x 3 columns]